.body{
    background: url("../images/home-background.jpg");
}

.banner{
    background: url(../images/home-bg.jpg);
    height: 500px;
}


.banner-text{
    color: white;
    position: relative;
    transform: translate(0%,-50%);
    top: -250px;
}

.banner-text h1{
    font-weight: 100;
    display: inline;
}

.banner-text :last-child{
    color: black;
    background: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink{
    0%{
        color: black;
        background: white;
    }
    50%{
        color: black;
        background: white;
    }
    51%{
        color: white;
        background: transparent;
    }
    100%{
        color: white;
        background: transparent;
    }
}

.categories{
    margin-top: 30px;
}