.body{
    background: url("../images/home-background.jpg");
}

.banner{
    background: url(../images/home-bg.jpg);
    height: 500px;
}


.banner-text{
    color: white;
    position: relative;
    transform: translate(0%,-50%);
    top: -250px;
}

.banner-text h1{
    font-weight: 100;
    display: inline;
}

.banner-text :last-child{
    color: black;
    background: white;
}