.listItem{
    background: lightpink;
    margin: 1px;
    border-radius: 2px;
    border: white 3px solid;
}

.key{
    height: 70px;
    width: 70px;
    border: greenyellow solid 3px;
    border-radius: 3px;
    margin: 70px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }